*{
  box-sizing: border-box;
  background-origin: border-box;
  margin: 0;
}

/* Basis for colour palette comes from 1bit Monitor Glow Palette by Polyducks */
/* https://lospec.com/palette-list/1bit-monitor-glow */
/* you're welcome to change the colours if you want or any of the other general page style */
:root{
  --col-01:#222323;
  --col-02:#f0f6f0;
  --col-03:#5252ff;
  --col-04:#b6e878;
  --col-05:#bcbdbc;
  --col-06:#6f6f6f;
  --border: 1px solid var(--col-02);
}

/*Adjusting the video size */
.video-player-wrapper{
  
  display: flex;
  flex-direction: column;
  bottom: 0;
  width: 100%; 
  margin: 0 auto;
  max-width: 750px; 
  position: relative;
  overflow: hidden;
}

/* becuase I want to overlay the play icon on the video they need to be in their own wrapper */
.video-element-wrapper{
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
}

#videoElement{
  width: 100%;
  grid-column: 1/2;
  grid-row: 1/2;
}

#videoPlayOverlay{
  width: 8rem;
  height: 8rem;
  grid-column: 1/2;
  grid-row: 1/2;
  justify-self: center;
  align-self: center;
  opacity: 0.6;
  display: none;
}

.video-controls-wrapper{
  display: flex;
  justify-content: center;
  position: absolute;
  bottom: 0;
  width: 100%;
  transform: translateY(100%) translateX(-5px);
  transition: 0.3s;
  flex-wrap: wrap;
  background: rgba(0, 0, 0, 0.6);
}

/* when hover over the video, the timestamp, volume controls, pause and play button will pop up */
.video-player-wrapper:hover .video-controls-wrapper{
  transform: translateY(0);
}

/* this overwrites the above display:flex - something which is then undone when the JS loads */
#controlsWrapper{
  display: none;
}

.video-control-button{
  width: 2rem;
  height: 2rem;
  padding: .1rem;
  border: none;
  cursor: pointer;
}
.video-control-button:hover{
  background-color: var(--col-05);
}
.video-control-button:active{
  background-color: var(--col-06);
}
.button-icon{
  pointer-events: none;
}

#playButton{
  background-image: url('./icons/play.svg');
}

.video-progress-bar{
  /* Reset the default appearance */
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  height: 2rem;
  flex-grow: 1;
  cursor: pointer;
  background-color: var(--col-01);
  box-shadow: 0 1px 2px var(--col-02) inset;
}


::-moz-progress-bar {
  background-color: var(--col-02);
}

/*removing box shadow to make it look more clean and changing color*/
::-webkit-progress-bar {
  background-color: rgb(255, 255, 255);
}
::-webkit-progress-value {
  background-color: rgb(250, 159, 242);
}

.timeline-loading{
  background-image: -moz-repeating-linear-gradient(45deg, var(--col-03) 0% 2%, transparent 2% 4%, red 4%);
  background-size: 200% 100%;
  animation: loadingAnimation 4s linear infinite;
}

/*Setting the video in the center on the browser and changing the colour of the background */
body {
  padding: 0;
  display: flex;
  background: 333;
  min-height: 100vh;
  background: linear-gradient(135deg, #000000 0%, #190416 48%, #4b1f45 100%);
  background-size: cover;
  align-items: center;
  justify-content: center;
}

/*Modifying the look of the time with different color, font, and make it center*/
.time{
  font-size: 1em;
  color: white;
  width: 15%;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
}


@keyframes loadingAnimation {
  100%{
    background-position: 50% 0%;
  }
}